<app-header></app-header>
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-left: 4rem">
  <div class="col">
    <div class="card cardBackground" routerLink="/employees">
      <img
        src="assets/images/home/trabajadores.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>EMPLEADOS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/restaurants">
      <img
        src="assets/images/home/clientes.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>RESTAURANTES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/drivers">
      <img
        src="assets/images/home/repartidor.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>REPARTIDORES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card cardBackground" routerLink="/affiliations">
      <img
        src="assets/images/home/afiliaciones.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>AFILIACIONES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/typesWashing">
      <img
        src="assets/images/home/reporteVentas.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>REPORTE VENTAS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/products">
      <img
        src="assets/images/home/ventasAfiliados.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>VENTA AFILIADOS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
</div>
