<app-header></app-header>
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-left: 4rem">
  <div class="col">
    <div class="card cardBackground" routerLink="/workers">
      <img
        src="assets/images/home/trabajadores.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>TRABAJADORES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/clients">
      <img
        src="assets/images/home/clientes.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>CLIENTES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/branches">
      <img
        src="assets/images/home/sucursales.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>SUCURSALES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card cardBackground" routerLink="/providers">
      <img
        src="assets/images/home/proveedores.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>PROVEEDORES</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/typesWashing">
      <img
        src="assets/images/home/tiposdelavado.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>TIPOS LAVADO</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/products">
      <img
        src="assets/images/home/insumos.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2>INSUMOS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
</div>
