<app-header></app-header>

<div class="container">
  <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
    <h3>Informacion de restaurante</h3>
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">ID</label>
        <input
          type="number"
          class="form-control"
          placeholder="ID"
          formControlName="ID"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Nombre Restaurante</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre Restaurante"
          formControlName="Business_name"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Correo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Correo"
          formControlName="Email"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Provincia</label>
        <input
          type="text"
          class="form-control"
          placeholder="Provincia"
          formControlName="Province"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Canton</label>
        <input
          type="text"
          class="form-control"
          placeholder="canton"
          formControlName="Canton"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Distrito</label>
        <input
          type="text"
          class="form-control"
          placeholder="Distrito"
          formControlName="District"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">SINPE</label>
        <input
          type="number"
          class="form-control"
          placeholder="SINPE"
          formControlName="SINPE"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Tipo de restaurante</label>
        <input
          type="text"
          class="form-control"
          placeholder="Tipo de restaurante"
          formControlName="Business_type"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Telefonos:</label>
        <br />
        <label for="exampleFormControlInput1">{{
          newForm.value.Phone_number
        }}</label>
      </div>
    </div>
    <br />
    <div class="form-group row">
      <form [formGroup]="numberForm">
        <div class="col">
          <label for="exampleFormControlInput1">Numero</label>
          <input
            type="number"
            class="form-control"
            placeholder="Numero"
            formControlName="number"
          />
        </div>
        <button
          type="button"
          class="btn btn-dark"
          (click)="addItem(numberForm.value.number)"
        >
          Agregar
        </button>
      </form>
    </div>
    <br /><br />
    <h3>Informacion Dueño</h3>
    <br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">ID</label>
        <input
          type="text"
          class="form-control"
          placeholder="ID"
          formControlName="OwnerID"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          formControlName="OwnerFull_name"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Usuario</label>
        <input
          type="text"
          class="form-control"
          placeholder="Usuario"
          formControlName="OwnerUsername"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Provincia</label>
        <input
          type="text"
          class="form-control"
          placeholder="Provincia"
          formControlName="OwnerProvince"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Canton</label>
        <input
          type="text"
          class="form-control"
          placeholder="Canton"
          formControlName="OwnerCanton"
        />
      </div>
      <div class="col">
        <label for="exampleFormControlInput1">Distrito</label>
        <input
          type="text"
          class="form-control"
          placeholder="Distrito"
          formControlName="OwnerDistrict"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Contraseña</label>
        <input
          type="text"
          class="form-control"
          placeholder="Contraseña"
          formControlName="OwnerPassword"
        />
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <div class="col">
        <label for="exampleFormControlInput1">Telefonos:</label>
        <br />
        <label for="exampleFormControlInput1">{{
          newForm.value.OwnerPhone_number
        }}</label>
      </div>
    </div>
    <br /><br />
    <div class="form-group row">
      <form [formGroup]="ownerNumberForm">
        <div class="col">
          <label for="exampleFormControlInput1">Numero</label>
          <input
            type="number"
            class="form-control"
            placeholder="Numero"
            formControlName="number"
          />
        </div>
        <button
          type="button"
          class="btn btn-dark"
          (click)="addItem2(ownerNumberForm.value.number)"
        >
          Agregar
        </button>
      </form>
    </div>

    <br /><br />
    <button type="submit" class="btn btn-primary">Crear</button>
    <button type="button" class="btn btn-dark" (click)="exit()">Salir</button>
  </form>
  <br /><br />
</div>
