<app-header></app-header>
<br />
<div class="container">
  <h3>Lista de productos</h3>
  <br />
  <button type="button" class="btn btn-primary" (click)="newProduct()">
    Nuevo Producto
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <p>{{ error_msg }}</p>
      <tr *ngFor="let product of info" (click)="viewProduct(product.ID)">
        <td>
          <img
            src="{{ product.Image }}"
            width="85"
            height="85"
            alt="image error"
          />
        </td>
        <th scope="row">{{ product.ID }}</th>
        <td>{{ product.Product_name }}</td>
        <td>{{ product.Price }}</td>
      </tr>
    </tbody>
  </table>
</div>
