<app-header></app-header> <br /><br />
<h2 style="text-align: center">ADMINISTRACION DE RESTAURANTE</h2>
<br /><br />
<div class="row row-cols-1 row-cols-md-2 g-4" style="padding-left: 18rem">
  <div class="col">
    <div class="card cardBackground" routerLink="/products">
      <img src="assets/images/home/menu.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2>PRODUCTOS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card cardBackground" routerLink="/orders">
      <img src="assets/images/home/order.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2>PEDIDOS</h2>
        <a class="btn stretched-link button">Ver</a>
      </div>
    </div>
  </div>
</div>
